html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
  color: white;
  background-color: #0f0c29;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#200122), to(#181e3b));
  background-image: linear-gradient(to bottom, #200122, #181e3b);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.spinner-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff00cc), to(#333399));
  background-image: linear-gradient(90deg, #ff00cc 0%, #333399 100%);
  -webkit-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
}

.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hero-section {
  height: 80vh;
}

.hero-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(201, 199, 199, 0.18);
}

.hero-card h4 {
  font-size: 24px;
  line-height: 1.7;
  margin-bottom: 0px;
  padding-left: 10px;
}

.hero-card a {
  margin-top: 20px;
  padding: 10px 0px;
  width: 100%;
  border-radius: 10px;
}

.hi-emoji {
  width: 45px;
  height: auto;
  margin-top: -15px;
}

.me-emoji {
  font-size: 30px;
}

.hi {
  font-size: 40px;
}

.hero-img {
  height: 100%;
}

.hero-img img {
  height: 100%;
  width: auto;
}

.about-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(201, 199, 199, 0.18);
}

.about-card .languages .badge {
  font-size: 14px !important;
}

.about-card .btn {
  border-radius: 5px;
  padding: 5px 15px;
}

.about-card .badge {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.about-card .about-h {
  font-size: 32px;
}

.about-card p {
  font-size: 19px;
}

.projects {
  margin-top: 8% !important;
}

.projects .card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(201, 199, 199, 0.18);
}

.projects .card .badge {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.projects .card .btn {
  border-radius: 5px;
  padding: 5px 15px;
}

.projects .card .carousel {
  height: 100%;
  overflow: hidden;
}

.projects .card .carousel-inner {
  height: 100%;
}

.projects .card .carousel-item {
  height: 100%;
}

.projects .card .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.contact-section .card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(201, 199, 199, 0.18);
}

.contact-section h3 {
  font-size: 32px;
}

.contact-section input,
.contact-section textarea {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(201, 199, 199, 0.18);
}

.contact-section input:focus,
.contact-section textarea:focus {
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(201, 199, 199, 0.1);
  color: white;
}

.contact-section .btn {
  padding: 10px 0px;
  width: 100%;
  border-radius: 10px;
}
/*# sourceMappingURL=styles.css.map */