$bg-color: #0f0c29;
$bg-image: linear-gradient(to bottom, #200122, #181e3b);
;
$text-color: white;
$font:'Source Code Pro',
monospace;

html{
    scroll-behavior: smooth;
}
body {
    font-family: $font;
    color: $text-color;
    background-color: $bg-color;
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-section {
    height: 80vh;
}

.hero-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(201, 199, 199, 0.18);

    h4 {
        font-size: 24px;
        line-height: 1.7;
        margin-bottom: 0px;
        padding-left: 10px;
    }

    a {
        margin-top: 20px;
        padding: 10px 0px;
        width: 100%;
        border-radius: 10px;
    }
}

.hi-emoji {
    width: 45px;
    height: auto;
    margin-top: -15px;
}

.me-emoji {
    font-size: 30px;
}

.hi {
    font-size: 40px;
}

.hero-img {
    height: 100%;

    img {
        height: 100%;
        width: auto;
    }
}

.about-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(201, 199, 199, 0.18);

    .languages {
        .badge {
            font-size: 14px !important;
        }
    }

    .btn {
        border-radius: 5px;
        padding: 5px 15px;
    }

    .badge {
        background: rgba(255, 255, 255, 0.2);
        color: white;
    }

    .about-h {
        font-size: 32px;
    }

    p {
        font-size: 19px;
    }

}

.projects {
    margin-top: 8% !important;
    .card {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5.0px);
        -webkit-backdrop-filter: blur(5.0px);
        box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
        border-radius: 10px;
        border: 1px solid rgba(201, 199, 199, 0.18);

        .badge {
            background: rgba(255, 255, 255, 0.2);
            color: white;
        }

        .btn {
            border-radius: 5px;
            padding: 5px 15px;
        }

        .carousel {
            height: 100%;
        }

        .carousel-inner {
            height: 100%;
        }

        .carousel-item {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}

.contact-section {
    .card{
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5.0px);
        -webkit-backdrop-filter: blur(5.0px);
        box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
        border-radius: 10px;
        border: 1px solid rgba(201, 199, 199, 0.18);
    }
    h3 {
        font-size: 32px;
    }

    input,
    textarea {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        border: 1px solid rgba(201, 199, 199, 0.18);

        &:focus {
            background: rgba(255, 255, 255, 0);
            box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
            border-radius: 10px;
            border: 1px solid rgba(201, 199, 199, 0.1);
            color: white;
        }
    }
    .btn {
        padding: 10px 0px;
        width: 100%;
        border-radius: 10px;
    }
}